<!DOCTYPE html>
<html lang="en">
	
	<head>
		
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>List of cookes</title>
		<link rel="stylesheet" href="/css/cookess.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
		<link rel="shortcut icon" href="/images/IconaSF.png ">
		
	</head>
	
	<!-- Navigation Bar -->
	
	<nav>
		
		<div class="logo">
			<a href="/"><img src="images/LogoSF.png" ></a>
		</div>
		
		<ul>
					<li><a href="/" >Home</a></li>
					<li><a href="/recipe" >Recipes</a></li>
					<li><a href="/ingredient" >Ingredients</a></li>
					<li><a href="/cooke" class="action">Community</a></li>
					<li><a href="#" >Blog</a></li>
					
		</ul>
		
		<!--Se l'utente non è autenticato -->
		
		<div th:if="${userDetails == null}" class="login">
			<a href="/login"> Login </a>
        </div>
    
        <!--Se l'utente è autenticato -->
    
        <div th:if="${userDetails != null}" class="login2">
			<details>
				<summary th:text="${userDetails.username}">Gostoso</summary>
                <ul>
					<div th:if="${userRole == 'DEFAULT'}" >
						 <li><a href="/profile">Your Profile</a></li>
                         <li><a href="/usAd/indexRecipe">Recipe operations</a></li>
                         <li><a href="/usAd/indexIngredient">Ingredient operations</a></li>
					 </div>
					
                     <li><a href="/logout">Logout</a></li>
                </ul>
            </details>
        </div>
	</nav>
	
	<!-- Navigation Bar ends -->
	
	<!-- Banner starts -->
	
	<div class="banner_bg">
		<h1>Comm<span>unity</span></h1>
	</div>
	
	<!-- Banner ends -->
	
	<!-- Cookes starts -->
	
    <div th:if="${users==null || users.isEmpty()}">Non ci sono cuochi nel sistema</div>
    <ul class="community">
		<li th:each="user : ${users}">
			<div class="community_box">
				<div class="community_card">
					<div class="community_img">
						<img th:src="@{'/images/cookes/' + ${user.image}}" alt="Immagine del cuoco">
					</div>
					<div class="community_tag">
						<a th:href="@{'/user' + '/' + ${user.id}}" th:text="${user.name} + ' ' + ${user.surname}">
							Dino Risi
						</a>
						<p class="date" th:text="${user.dateOfBirth}">20/20/2020</p>
						<p class="job" th:text="${user.job}">Architetto</p>
						<!--<p class="info" th:text="${user.biography}">Pensiero</p> -->
                    </div>
                </div>
            </div>
        </li>
    </ul>
	
	<!-- Cookes ends -->
				
	<!-- Footer starts -->
		
		<footer>
			<div class="footer_main">
				
				<div class="footer_img">
						<img src="images/IconaSF.png">
				</div>
				
				<div class="footer_tag">
					<h2>Quick Link</h2>
					<p>Home</p>
					<p>Recipes</p>
					<p>Ingredients</p>
					<p>Community</p>
					<p>Blog</p>
					
				</div>
				
				<div class="footer_tag">
					<h2>Follows</h2>
					<i class="fa-brands fa-facebook"></i>
					<i class="fa-brands fa-instagram"></i>
					<i class="fa-brands fa-snapchat"></i>
					<i class="fa-brands fa-youtube"></i>
					<i class="fa-brands fa-tiktok"></i>
					
				</div>
			</div>
			
			<p class="end"> Design by <span>Sophie Baldini</span></p>
		</footer>
		
		<!-- Footer ends -->
		
	</body>
</html>
	