<!DOCTYPE html>
<html lang="en">
	
	<head>
		
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Recipes</title>
		<link rel="stylesheet" href="/css/recipess.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
		<link rel="shortcut icon" href="/images/IconaSF.png ">
		
	</head>
	
	<!-- Navigation Bar -->
	
	<nav>
		
		<div class="logo">
			<a href="/"><img src="images/LogoSF.png" ></a>
		</div>
		
		<ul>
					<li><a href="/" >Home</a></li>
					<li><a href="/recipe" class="action">Recipes</a></li>
					<li><a href="/ingredient" >Ingredients</a></li>
					<li><a href="#" >Community</a></li>
					<li><a href="#" >Blog</a></li>
					
		</ul>
		
		<div class="login">
					<a href="/login"> Login </a>
		</div>
	</nav>
	
	<!-- Navigation Bar ends -->
	
	
	<body>
	
	<h1>Dettagli sulle ricette</h1>
    <div th:if="${recipe}">
        <span th:text="${recipe.name}">Up!</span>
        <span><img th:src="@{'/images/recipes/' + ${recipe.image}}" alt="Recipe Image"></span>
        <span th:text="'(' + ${recipe.description} + ')'">UP!</span>
        <span th:text="'(' + ${recipe.cooke} + ')'">UP!</span>
    </div>
    <div th:unless="${recipe}">Non esiste</div>
	</body>
</html>