<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title> GOSTOSO - Ricette creole</title>
		<link rel="stylesheet" href="/css/otherprofile.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
		<link rel="shortcut icon" href="/images/IconaSF.png " type="image/x-icon">
	</head>
	<body>
			<nav>
				<div class="logo">
					<a sec:authorize="isAuthenticated()" href="/success"><img src="/images/LogoSF.png" ></a>
			        <a sec:authorize="!isAuthenticated()" href="/"><img src="/images/LogoSF.png" ></a>
				</div>
				
				<ul>
					<li><a sec:authorize="isAuthenticated()" href="/success" >Home</a></li>
					<li><a sec:authorize="!isAuthenticated()" href="/" >Home</a></li>
					<li><a href="/recipe" >Recipes</a></li>
					<li><a href="/ingredient" >Ingredients</a></li>
					<li><a href="/cooke" class="action">Community</a></li>
					<li><a href="/blog" >Blog</a></li>
				</ul>
				
				<!--Se l'utente non è autenticato -->
		
		        <div th:if="${userDetails == null}" class="login">
					<a href="/login"> Login </a>
                </div>
    
                <!--Se l'utente è autenticato -->
    
                <div th:if="${userDetails != null}" class="login2">
					<details>
						<summary th:text="${userDetails.username}">Gostoso</summary>
                        <ul>
							<div th:if="${userRole == 'DEFAULT'}" >
								<li><a href="/user/profile">Your Profile</a></li>
                                <li><a href="/usAd/indexRecipe">Recipe operations</a></li>
                                <li><a href="/usAd/indexIngredient">Ingredient operations</a></li>
					        </div>
					
                           <li><a href="/logout">Logout</a></li>
                       </ul>
                  </details>
               </div>
			</nav>
	
    <!-- Navigation bar ends -->
	
	        <!-- Banner starts -->
	
	        <div class="banner_bg">
				<h1>Hi, I'm <span th:text="${cooke.name} +' ' + ${cooke.surname}"></span> </h1>
	        </div>
	
	        <!-- Banner ends -->
	        
	        <!--Profile section starts -->
	        
	        <div class="profile_main">
				<div class="image">
					<img th:src="@{'/images/cookes/' + ${cooke.image}}" alt="Immagine del cuoco">
				</div>
				
				<div class="job">
					<p><strong>My profession is:  </strong> <span th:text="${cooke.job}"></span></p>
				</div>
                
                <div class="bio">
					<p><span th:text="${cooke.biography}"></span></p>
				</div>
                
                <div class="date">
					<p><strong>Date of Birth:</strong> <span th:text="${cooke.dateOfBirth}"></span></p>
				</div>
                
                <div class="contact">
					<p><strong>Email:</strong> <span th:text="${cooke.email}"></span></p>
				</div>
                
			</div>
			
			<!--Profile section starts -->
			
			<!-- Footer starts -->
		
		<footer>
			<div class="footer_main">
				
				<div class="footer_img">
						<img src="/images/IconaSF.png">
				</div>
				
				<div class="footer_tag">
					<h2>Quick Link</h2>
					<p>Home</p>
					<p>Recipes</p>
					<p>Ingredients</p>
					<p>Community</p>
					<p>Blog</p>
					
				</div>
				
				<div class="footer_tag">
					<h2>Follows</h2>
					<i class="fa-brands fa-facebook"></i>
					<i class="fa-brands fa-instagram"></i>
					<i class="fa-brands fa-snapchat"></i>
					<i class="fa-brands fa-youtube"></i>
					<i class="fa-brands fa-tiktok"></i>
					
				</div>
			</div>
			
			<p class="end"> Design by <span>Sophie Baldini</span></p>
		</footer>
		
		<!-- Footer ends -->
		
	</body>
</html>
