<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title> GOSTOSO - Ricette creole</title>
		<link rel="stylesheet" href="/css/recipesNew.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
		<link rel="shortcut icon" href="/images/IconaSF.png " type="image/x-icon">
	</head>
	<body>
			<nav>
				<div class="logo">
					<a href="/success"><img src="/images/LogoSF.png" ></a>
				</div>
				
				<div class="login">
					<details>
						<summary th:text="${userDetails.username}">Gostoso</summary>
                        <ul>
							<li><a href="/usAd/profile">Your Profile</a></li>
							<div th:if="${userRole == 'DEFAULT'}" >
								<li><a href="/usAd/indexRecipe">Recipe operations</a></li>
                                <li><a href="/usAd/indexIngredient">Ingredient operations</a></li>
					        </div>
					        
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </details>
                </div>
			</nav>
	
    <!-- Navigation bar ends -->
    
    <!-- Banner starts -->
    
           <div class="banner_bg">
			   <h1>Add <span>an Re</span>cipe</h1>
	       </div>
    
     <!-- Banner ends -->
     
     <!-- Recipe New starts -->
     
     <div class="recipe_new">
		 
		<form th:action="@{/usAd/recipe}" method="POST" th:object="${recipe}" enctype="multipart/form-data">
			<div th:if="${#fields.hasGlobalErrors()}">
				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
		    </div>
	  
	        <div>
				<label>Title:</label> 
		        <span><input type="text" th:field="${recipe.name}" /></span>
		        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
				</span>
	        </div>

	        <div>
				<label>Description:</label> <span><input type="text" th:field="${recipe.description}" /></span>
		        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
				</span>
	        </div>
	        
	        <div>
				<label>Preparation:</label> <span><input type="text" th:field="${recipe.preparation}" /></span>
		        <span th:if="${#fields.hasErrors('preparation')}" th:errors="*{preparation}">
				</span>
	        </div>
            
          <div>
				<label>Ingredients:</label>
				<div class="ingredients-container">
					<div th:each="ingredient : ${ingredients}" class="ingredient">
						<input type="checkbox" name="ingredientIds" th:value="${ingredient.id}" id="ingredient_${ingredient.id}">
                        <label th:for="${'ingredient_' + ingredient.id}" th:text="${ingredient.name }"></label>
                    </div>
                    <span th:if="${#fields.hasErrors('recipeIngredients')}" th:errors="*{recipeIngredients}"></span>
				</div>    
           </div>
           
	  
           <div>
				<label for="cooke">Cooke:</label>
				<select id="cooke" name="cooke">
					<option value="">Select Chef</option>
					<option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name} + ' ' + ${user.surname}" th:selected="${user.id == user.id}"></option>
                </select>
                
                <span th:if="${#fields.hasErrors('cooke')}" th:errors="*{cooke}"></span>
            </div>

	        <div>
				<label>Image:</label> <span><span><input type="file" id="imageI" name="imageI" accept="image/jpeg" /></span>
	        </div>
	  
	        <div>
				<span><button type="submit">Submit</button></span>
	        </div>
        </form>
        
	  </div>
	  
	  <!-- Recipe New ends -->

	</body>
</html> 