<!DOCTYPE html>
<html lang="en">
	
	<head>
		
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>List of ingredients</title>
		<link rel="stylesheet" href="/css/indexIngredient.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
		<link rel="shortcut icon" href="/images/IconaSF.png ">
		
	</head>
    <body>
	
	<!-- Navigation Bar -->
	
	<nav>
		
		<div class="logo">
			<a href="/"><img src="/images/LogoSF.png" ></a>
		</div>
		
		<ul>
			<li><a href="/" >Home</a></li>
			<li><a href="/ingredient" class="action" >Ingredients</a></li>

		</ul>

	</nav>
	
	<!-- Navigation Bar ends -->
	
	<!-- Banner starts -->
	
	<div class="banner_bg">
		<h1>Ingredients<span>Management</span></h1>

	</div>
	
	<!-- Banner ends -->
	
	<!--  Ingredient manager starts-->
	
	 <div class="ingredient_manager">
		
		<div>
			<a href="/usAd/formNewIngredient">Record the details of a new ingredient</a>
		</div>
		
		<div>
			<a href="/ingredient">Ingredient</a>
		</div>
	 </div>
	 
	 <!--  Ingredient manager ends-->
		
	</body>
</html>