<!DOCTYPE html>
<html lang="en">
	
	<head>
		
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Gostoso - Update Ingredients</title>
		<link rel="stylesheet" href="/css/addIngredient.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
		<link rel="shortcut icon" href="/images/IconaSF.png ">
		
	</head>
    <body>
	
	<!-- Navigation Bar -->
	
	<nav>
		
		<div class="nav-toggle">
			<details>
				<summary>Menu</summary>
				<ul>
					<li><a href="/success" >Home</a></li>
			        <li><a href="/recipe" class="action">Recipes</a></li>
                </ul>
            </details>
        </div>
		
		<div class="logo">
			<a href="/usAd/manageRecipes"><img src="/images/LogoSF.png" ></a>
		</div>
		
		<ul class="nav-link">
			
			<li><a href="/success" >Home</a></li>
			<li><a href="/recipe" class="action">Recipes</a></li>

		</ul>
		
		<div class="login">
			<details>
				<summary th:text="${userDetails.username}">Gostoso</summary>
                <ul>
					<li><a href="/usAd/profile">Your Profile</a></li>
					<div th:if="${userRole == 'DEFAULT'}" >
						 <li><a href="/usAd/indexRecipe">Recipe operations</a></li>
                         <li><a href="/usAd/indexIngredient">Ingredient operations</a></li>
					 </div>
					
                     <li><a href="/logout">Logout</a></li>
                </ul>
            </details>
        </div>

	</nav>
	
	<!-- Navigation Bar ends -->
	
	<!-- Banner starts -->
	
    <div class="banner_bg">
        <h1 class="mt-5">Update Ingredients for Recipe: <span th:text="${recipe.name}">Recipe Name</span></h1>
    </div>
    
    <!-- Banner ends -->
    
    <!-- Update ingredients in recipe starts -->
    
    <div class="container">
        <h2 class="mt-4">Ingredients to Add</h2>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Ingredient Name</th>
                    <!--<th>Quantity</th>-->
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ingredient : ${ingredientsToAdd}">
                    <td th:text="${ingredient.name}">Ingredient Name</td>
                    <!--<td th:text="${ingredient.quantita +'' + 'g'}">1 g</td>-->
                    <td>
                        <a th:href="@{/usAd/addIngredientToRecipe/{ingredientId}/{recipeId}(ingredientId=${ingredient.id}, recipeId=${recipe.id})}" class="btn btn-primary">Add to Recipe</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <h2 class="mt-4">Current Ingredients in Recipe</h2>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Ingredient Name</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="recipeIngredient : ${recipe.recipeIngredients}">
                    
                    <td th:text="${recipeIngredient.ingredient.name}">Ingredient Name</td>
                    <!--<td th:text="${ingredient.quantita +'' + 'g'}">1 g</td>-->
                    <td>
                        <form th:action="@{'/usAd/updateIngredientQuantity/' + ${recipe.id} + '/' + ${recipeIngredient.ingredient.id}}" method="post">
							<input type="number" id="quantity" name="quantity" th:value="${recipeIngredient.quantita}" step="0.01" required class="quantity-input" />
							<button type="submit" class="btn btn-primary">Update</button>
						</form>
                    </td>
                    <td>
                        <a th:href="@{/admin/removeIngredientFromRecipe/{ingredientId}/{recipeId}(ingredientId=${recipeIngredient.ingredient.id}, recipeId=${recipe.id})}" class="btn btn-danger">Remove from Recipe</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Update ingredients in recipe ends -->
    
   </body>

</html>

