<!DOCTYPE html>
<html>

<head>
	<title>Ricette</title>
	<link rel="stylesheet" href="/css/style.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${user}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div><a href="/"><img src="/images/logo-siw.png" width="50%" /></a></div>
	<h1>Ricette</h1>
	<div th:if="${recipes.isEmpty()}">Non ci sono ricette nel sistema</div>
	<ul>
		<li th:each="recipe : ${recipes}">
			<span th:text="${recipe.name} ">Up! </span>
			<a th:href="@{'/usAd/formUpdateRecipe' + '/' + ${recipe.id}}">Aggiorna</a>
		</li>
	</ul>
</body>

</html>