<!DOCTYPE html>
<html lang="en">
	
	<head>
		
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Recipe Management</title>
		<link rel="stylesheet" href="/css/manageRecipe.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
		<link rel="shortcut icon" href="/images/IconaSF.png ">
		
	</head>
    <body>
	
	<!-- Navigation Bar -->
	
	<nav>
		
		<div class="nav-toggle">
			<details>
				<summary>Menu</summary>
				<ul>
					<li><a href="/success" >Home</a></li>
			        <li><a href="/recipe" class="action">Recipes</a></li>
                </ul>
            </details>
        </div> 
		
		<div class="logo">
			<a href="/success"><img src="/images/LogoSF.png" ></a>
		</div>
		
		<ul class="nav-link">
			
			<li><a href="/success" >Home</a></li>
			<li><a href="/recipe" class="action">Recipes</a></li>

		</ul>
		
		<div class="login">
			<details>
				<summary th:text="${userDetails.username}">Gostoso</summary>
                <ul>
					<li><a href="/usAd/profile">Your Profile</a></li>
					<div th:if="${userRole == 'DEFAULT'}" >
						 <li><a href="/usAd/indexRecipe">Recipe operations</a></li>
                         <li><a href="/usAd/indexIngredient">Ingredient operations</a></li>
					 </div>
					
					 <li><a href="/usAd/indexReview">Review operations</a></li>
                     <li><a href="/logout">Logout</a></li>
                </ul>
            </details>
        </div>

	</nav>
	
	<!-- Navigation Bar ends -->
	
	<!-- Banner starts -->
	
	<div class="banner_bg">
		<h1>Recipes<span>Operation</span></h1>

	</div>
	
	<!-- Banner ends -->
	
	<!-- Manage recipe starts -->
	
	<div class="recipe_main">
		<h1>Recipes</h1>
	    <div th:if="${recipes.isEmpty()}">There are no recipes in the system</div>
	    <ul>
			<li th:each="recipe : ${recipes}">
				<span th:text="${recipe.name} ">Up! </span>
			    <a th:href="@{'/usAd/formUpdateRecipe' + '/' + ${recipe.id}}" class="update_btn">Update</a>
			     <form th:action="@{'/usAd/deleteRecipe/' + ${recipe.id}}" method="get" onsubmit="return confirm('Are you sure you want to delete this recipe?');">
					 <button type="submit" class="btn">Delete</button>
                 </form>
		    </li>
	   </ul>
	</div>
	
	<!-- Manage recipe ends- -->
	
  </body>

</html>