<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title> GOSTOSO - Ricette creole</title>
		<link rel="stylesheet" href="/css/admin.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
		<link rel="shortcut icon" href="/images/IconaSF.png " type="image/x-icon">
	</head>
	<body>
			<nav>
				<div class="logo">
					<a href="/success"><img src="images/LogoSF.png" ></a>
				</div>
				
				<div class="login">
					<details>
						<summary th:text="${userDetails.username}">Gostoso</summary>
                        <ul>
                            <li><a href="/logout">Logout</a></li>
                       </ul>
                    </details>
				</div>
				
			</nav>	
			
			<div class="admin">	
	
	        <!-- Navigation bar ends -->
	        
	       <h1>Browse the archive</h1>

	       <div class="recipe">
			   <a href="/recipe">List of Recipes</a>
	       </div>

	       <div class="ingredient">
			   <a href="/ingredient">List of Ingredients</a>
	       </div>

	       <div class="cooke">
			   <a href="/cooke">List of Cooks</a>
	       </div>

	       <h1>Administrator operations</h1>

	       <div class="aRecipe">
			   <a href="/usAd/indexRecipe">Recipe operations</a>
	       </div>

	       <div class="aIngredient">
			   <a href="/usAd/indexIngredient">Ingredient operations</a>
	       </div>

	       <div class="aCooke">
			   <a href="/usAd/indexCooke">Cooke operations</a>
	       </div>
	       
	       <div class="aBlog">
			   <a href="/admin/new">Blog operations</a>
	       </div>
	       
	  </div>     
	</body>
	
</html>