<!DOCTYPE html>
<html lang="en">
	
	<head>
		
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Gostoso - Edit Post</title>
		<link rel="stylesheet" href="/css/editPost.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
		<link rel="shortcut icon" href="/images/IconaSF.png ">
		
	</head>
    <body>
	
	<!-- Navigation Bar -->
	
	<nav>
		
		<div class="nav-toggle">
			<details>
				<summary>Menu</summary>
                <ul>
					<li><a href="/success" >Home</a></li>
			        <li><a href="/blog" class="action">Blog</a></li>
                 </ul>
             </details>
        </div>
		
		<div class="logo">
			<a href="/success"><img src="/images/LogoSF.png" ></a>
		</div>
		
		<ul class="nav-link">
			
			<li><a href="/success" >Home</a></li>
			<li><a href="/blog" class="action">Blog</a></li>

		</ul>
		
		<div class="login">
			<details>
				<summary th:text="${userDetails.username}">Gostoso</summary>
                <ul>
					<li><a href="/usAd/profile">Your Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
             </details>
		</div>

	</nav>
	
	<!-- Navigation Bar ends -->
	
	<!-- Banner starts -->
	
	<div class="banner_bg">
		
		<h1>Edit<span>Post</span></h1>

	</div>
	
	<!-- Banner ends -->
	
	<!-- Edit Post starts -->
	
	<div class="post_main">
		<h1>Post</h1>
	    <div th:if="${posts.isEmpty()}">There are no posts in the system</div>
	    <ul>
			<li th:each="post : ${posts}">
				<span th:text="${post.title}">Up! </span>
			    <a th:href="@{'/admin/formUpdatePost'+ '/' + ${post.id}}" class="update_btn">Update</a>
			     <form th:action="@{'/admin/delete' + '/' + ${post.id}}" method="get" onsubmit="return confirm('Are you sure you want to delete this post?');">
					 <button type="submit" class="btn">Delete</button>
                 </form>
		    </li>
	   </ul>
	</div>
	
	<!-- Edit Post ends -->
	
   </body>

</html>