<!DOCTYPE html>
<html lang="en">
	
	<head>
		
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Ingredients Management</title>
		<link rel="stylesheet" href="/css/manageIngredient.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
		<link rel="shortcut icon" href="/images/IconaSF.png ">
		
	</head>
    <body>
	
	<!-- Navigation Bar -->
	
	<nav>
		
		<div class="nav-toggle">
			<details>
				<summary>Menu</summary>
				<ul>
					<li><a href="/success" >Home</a></li>
			        <li><a href="/ingredient" class="action">Ingredients</a></li>
                </ul>
            </details>
        </div> 
		
		<div class="logo">
			<a href="/success"><img src="/images/LogoSF.png" ></a>
		</div>
		
		<ul class="nav-link">
			
			<li><a href="/success" >Home</a></li>
			<li><a href="/ingredient" class="action">Ingredients</a></li>

		</ul>
		
		<div class="login">
			<details>
				<summary th:text="${userDetails.username}">Gostoso</summary>
                <ul>
					<li><a href="/usAd/profile">Your Profile</a></li>
					<li><a href="/logout">Logout</a></li>
                </ul>
            </details>
        </div>

	</nav>
	
	<!-- Navigation Bar ends -->
	
	<!-- Banner starts -->
	
	<div class="banner_bg">
		<h1>Ingredients<span>Operation</span></h1>

	</div>
	
	<!-- Banner ends -->
	
	<!-- Manage ingredients starts -->
	
	<div class="ingredient_main">
		<h1>Ingredients</h1>
	    <div th:if="${ingredients.isEmpty()}">There are no ingredients in the system</div>
	    <ul>
			<li th:each="ingredient : ${ingredients}">
				<span th:text="${ingredient.name} +' '+ ${ingredient.quantita + ' ' + 'g'}">Up! </span>
			    <a th:href="@{'/admin/formUpdateIngredient' + '/' + ${ingredient.id}}" class="update_btn">Update</a>
			     <form th:action="@{'/admin/deleteIngredient/' + ${ingredient.id}}" method="get" onsubmit="return confirm('Are you sure you want to delete this ingredient?');">
					 <button type="submit" class="btn">Delete</button>
                 </form>
		    </li>
	   </ul>
	</div>
	
	<!-- Manage ingredients ends- -->
	
  </body>

</html>