<!DOCTYPE html>
<html lang="en">
	
	<head>
		
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Gostoso - Edit Description Ingredient</title>
		<link rel="stylesheet" href="/css/editIngredient.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
		<link rel="shortcut icon" href="/images/IconaSF.png ">
		
	</head>
    <body>
	
	<!-- Navigation Bar -->
	
	<nav>
		
		<div class="nav-toggle">
			<details>
				<summary>Menu</summary>
				<ul>
					<li><a href="/success" >Home</a></li>
			        <li><a href="/ingredient" class="action">Ingredients</a></li>
                </ul>
            </details>
        </div>
		
		<div class="logo">
			<a href="/admin/manageIngredients"><img src="/images/LogoSF.png" ></a>
		</div>
		
		<ul class="nav-link">
			
			<li><a href="/success" >Home</a></li>
			<li><a href="/ingredient" class="action">Ingredients</a></li>

		</ul>
		
		<div class="login">
			<details>
				<summary th:text="${userDetails.username}">Gostoso</summary>
                <ul>
					<li><a href="/usAd/profile">Your Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
             </details>
		</div>

	</nav>
	
	<!-- Navigation Bar ends -->
	
	<!-- Banner starts -->
	
	<div class="banner_bg">
		
		<h1>Ingredients<span>Edit</span> Description</h1>

	</div>
	
	<!-- Banner ends -->
	
	<!-- Edit ingredient starts -->
	
	<div class="ingredient_edit">
		
		<h2>Description:</h2>
    
        <form action="#" th:action="@{/admin/updateDescriptionIngredient/{id}(id=${ingredient.id})}" th:object="${ingredient}" method="post">
			<div>
				<textarea th:field="*{description}" rows="5" cols="50"></textarea>
            </div>
            <input type="submit" value="Save">
        </form>
	</div>    
    
    <!-- Edit ingredient ends -->
	
   </body>

</html>