*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: sans-serif;
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: #fff;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1000;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

nav .logo img{
	width: 120px;
	margin: 20px 0;
	position: relative;
	left: -45%;
	cursor: pointer;
}

nav .login details {
    position: relative;
}

nav .login summary {
    list-style: none;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    border: 2px solid rgb(0, 179, 0);
    border-radius: 20px;
    padding: 7px 20px;
    transition: 0.3s;
    display: inline-block;
}

nav .login summary:hover {
    background: rgb(0, 179, 0);
}

nav .login details[open] ul {
    display: block;
}

nav .login ul {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    right: 50%;
    transform: translateX(50%);
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    list-style: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

nav .login ul li {
    margin-bottom: 5px;
}

nav .login ul li a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    display: block;
}

nav .login ul li a:hover {
    background: rgb(0, 179, 0);
    color: white;
    border-radius: 5px;
}

/* Title */

.admin{
	width: 100%;
    padding: 75px 0;
    text-align: center;
}

.admin h1 {
    margin-top: 40px;
    text-align: center;
    font-size: 36px;
    color: #333333;
}

/* Links */
.admin .recipe,
.admin .ingredient,
.admin .cooke,
.admin .aRecipe,
.admin .aIngredient,
.admin .aCooke,
.admin .aBlog,
.admin .aReview {
    text-align: center;
    margin-top: 20px;
}

.admin .recipe a,
.admin .ingredient a,
.admin .cooke a,
.admin .aRecipe a,
.admin .aIngredient a,
.admin .aCooke a,
.admin .aBlog a,
.admin .aReview a {
    display: block;
    padding: 10px 20px;
    /*background-color: #eeeeee;*/
    color: #333333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.admin .recipe a:hover,
.admin .ingredient a:hover,
.admin .cooke a:hover,
.admin .aRecipe a:hover,
.admin .aIngredient a:hover,
.admin .aCooke a:hover,
.admin .aBlog a:hover,
.admin .aReview a:hover {
    background-color:  rgb(0, 179, 0);
    color: #fff;
}

::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-thumb{
	background: rgb(0, 179, 0);
	border-radius: 30px;
}

/*Media*/

@media screen and (max-width: 768px) {
   nav {
    flex-direction: row;
    align-items: center;
    padding: 10px;
  }

  nav .logo img {
    width: 100px;
    margin: 10px 0;
    left: 0;
  }
  
  nav .login {
        display: block; /* Utilizza flexbox per allineare gli elementi */
        justify-content: space-between; /* Distribuisce gli elementi uniformemente */
        align-items: center; /* Allinea verticalmente al centro */
        padding-left: 3rem;
    }

}

