*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: sans-serif;
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: #fff;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1000;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

nav .logo img{
	width: 120px;
	margin: 20px 0;
	position: relative;
	left: -45%;
	cursor: pointer;
}

/* Title */

.admin{
	width: 100%;
    padding: 75px 0;
    text-align: center;
}

.admin h1 {
    margin-top: 40px;
    text-align: center;
    font-size: 36px;
    color: #333333;
}

/* Links */
.admin .recipe,
.admin .ingredient,
.admin .cooke,
.admin .aRecipe,
.admin .aIngredient,
.admin .aCooke {
    text-align: center;
    margin-top: 20px;
}

.admin .recipe a,
.admin .ingredient a,
.admin .cooke a,
.admin .aRecipe a,
.admin .aIngredient a,
.admin .aCooke a {
    display: block;
    padding: 10px 20px;
    /*background-color: #eeeeee;*/
    color: #333333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.admin .recipe a:hover,
.admin .ingredient a:hover,
.admin .cooke a:hover,
.admin .aRecipe a:hover,
.admin .aIngredient a:hover,
.admin .aCooke a:hover {
    background-color:  rgb(0, 179, 0);
    color: #fff;
}
