*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: sans-serif;
}

 nav{
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: #fff;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1000;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

nav .logo img{
	width: 120px;
	margin: 20px 0;
	position: relative;
	left: -45%;
	cursor: pointer;
}

nav .login details {
    position: relative;
}

nav .login summary {
    list-style: none;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    border: 2px solid rgb(0, 179, 0);
    border-radius: 20px;
    padding: 7px 20px;
    transition: 0.3s;
    display: inline-block;
}

nav .login summary:hover {
    background: rgb(0, 179, 0);
}

nav .login details[open] ul {
    display: block;
}

nav .login ul {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    right: 50%;
    transform: translateX(50%);
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    list-style: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

nav .login ul li {
    margin-bottom: 5px;
}

nav .login ul li a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    display: block;
}

nav .login ul li a:hover {
    background: rgb(0, 179, 0);
    color: white;
    border-radius: 5px;
}

/*Banner*/

.banner_bg{
	width: 100%;
	height: 50vh;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/images/banner6.png);
	background-size: cover;
	background-position: center;
}

.banner_bg h1{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 50px;
	position: relative;
	top: 50%;
	color: #fff;
}

.banner_bg h1 span{
	margin-left: 10px;

	color: crimson;
}

/* Recipe new*/

.recipe_new {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.recipe_new form {
    display: flex;
    flex-direction: column;
}

.recipe_new form div {
    margin-bottom: 15px;
}

.recipe_new form label {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.recipe_new form input[type="text"],
.recipe_new form input[type="file"],
.recipe_new form select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.recipe_new form input[type="file"] {
    padding: 5px;
}

.recipe_new form span {
    display: flex;
    justify-content: center;
}

.recipe_new form select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.recipe_new form select option {
    padding: 5px;
}

.recipe_new form span {
    display: flex;
    justify-content: center;
}

.recipe_new form button {
    background-color:crimson;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.recipe_new form button:hover {
    background-color: rgb(0, 179, 0);
}

.recipe_new form .error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

/* Ingredienti */
.recipe_new form .ingredients-container {
            max-height: 200px;
            overflow-y: auto;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 4px;
        }

        .recipe_new form div.ingredient {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .recipe_new form div.ingredient input[type="checkbox"] {
            margin-right: 10px;
        }

/* Stili per gli errori globali */
.recipe_new form p {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.recipe_new form select {
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.recipe_new form span[th\:text="${messaggioErrore}"] {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}
::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-thumb{
	background: rgb(0, 179, 0);
	border-radius: 30px;
}



@media (max-width: 768px) {

    nav {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
    }

    nav .logo img {
        width: 80px;
        margin: 10px 0;
        position: static;
        left: auto;
    }

    nav .login {
        display: block; /* Utilizza flexbox per allineare gli elementi */
        justify-content: space-between; /* Distribuisce gli elementi uniformemente */
        align-items: center; /* Allinea verticalmente al centro */
        padding-left: 11rem;
    }
    
    .banner_bg {
        height: 30vh;
    }

    .banner_bg h1 {
        font-size: 30px;
    }

    .recipe_new {
        width: 90%;
        margin: 20px auto;
        padding: 10px;
    }

    .recipe_new form input[type="text"],
    .recipe_new form input[type="file"],
    .recipe_new form select {
        font-size: 12px;
        padding: 8px;
    }

    .recipe_new form button {
        padding: 8px 16px;
        font-size: 14px;
    }

    .recipe_new form .ingredients-container {
        max-height: 150px;
    }
}
