*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: sans-serif;
}

 nav{
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: #fff;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1000;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

nav .logo img{
	width: 120px;
	margin: 20px 0;
	position: relative;
	left: -45%;
	cursor: pointer;
}

nav .nav-toggle{
	display: none;
}

nav .nav-link{
	list-style: none;
}

nav .nav-link li{
	display: inline-block;
	margin: 0 10px;
}

nav .nav-link li a{
	color: black;
	text-decoration: none;
	transition: 0.3s;
}

nav .nav-link li a.action{
	color: rgb(0, 179, 0);
}

nav .nav-link li a:hover{
	color: rgb(0, 179, 0);
}

nav .login a{
	color: #000;
	text-decoration: none;
	border: 2px solid rgb(0, 179, 0);
	border-radius: 20px;
	padding: 7px 20px;
	transition: 0.3s;
}

nav .login a:hover{
	background: rgb(0, 179, 0);
}

nav .login2 details {
    position: relative;
}

nav .login2 summary {
    list-style: none;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    border: 2px solid rgb(0, 179, 0);
    border-radius: 20px;
    padding: 7px 20px;
    transition: 0.3s;
    display: inline-block;
}

nav .login2 summary:hover {
    background: rgb(0, 179, 0);
}

nav .login2 details[open] ul {
    display: block;
}

nav .login2 ul {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    right: 50%;
    transform: translateX(50%);
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    list-style: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

nav .login2 ul li {
    margin-bottom: 5px;
}

nav .login2 ul li a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    display: block;
}

nav .login2 ul li a:hover {
    background: rgb(0, 179, 0);
    color: white;
    border-radius: 5px;
}

/*Banner*/

.banner_bg{
	width: 100%;
	height: 50vh;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/images/banner2.png);
	background-size: cover;
	background-position: center;
}

.banner_bg h1{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 50px;
	position: relative;
	top: 50%;
	color: #fff;
}

.banner_bg h1 span{
	color: crimson;
}

.banner_bg .box {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 500px;
    transform: translate(-50% , -50%);
}

.banner_bg .box input{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}

.banner_bg .box input[type="text"]{
    background: #fff;
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}

.banner_bg .box input[type="submit"]{
    position: relative;
    left: -5px;
    border-radius: 0 25px 25px 0;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: crimson;
}

.banner_bg .box input[type="submit"]:hover{
    background: rgb(226, 152, 29);
}

/*Recipes details */

.recipe {
    width: 100%;
    padding: 75px 0;
    text-align: center;
}

.recipe h1 {
	margin-top: 60px;
    font-size: 45px;
    color: #000;
    margin-bottom: 30px;
}

.recipe .title span {
    display: block;
    font-size: 35px;
    font-weight: bold;
    color: crimson;
    margin-bottom: 20px;
}

.recipe .recipe_description span {
    display: block;
    font-size: 18px;
    color: #666;
    margin-top: 10px;
    margin-bottom: 20px;
}

.recipe img {
    max-width: 100%;
    height: auto;
    margin: 0 auto 20px auto;
    box-shadow: 0 0 8px rgba(0,0,0,0.7);
}

.recipe .ingredients {
    background-color: #e0f7e0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.recipe .ingredients h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 15px;
}

.recipe .ingredients ul {
    list-style: none;
    padding-left: 0;
}

.recipe .ingredients ul li {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

.recipe .recipe_preparation h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 15px;
}

.recipe .recipe_preparation span {
    display: block;
    font-size: 18px;
    color: #666;
    margin-top: 20px;
}

.recipe .author {
    margin-top: 20px;
    font-style: italic;
    color: #555;
}

.recipe .author span {
    font-size: 16px;
    color: rgb(226, 152, 29);
}

/*Review*/

.recensioni-info {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.recensioni-info h4{
	font-size: 25px;
	text-align: center;
	margin-bottom: 2rem;
}

/* Stile per ogni singola recensione */
.review .box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    display: flex;
    align-items: center; /* Allinea gli elementi verticalmente */
}

.review .box .user {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.review .box .user img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
    border: 3px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.review .box .user-info {
    display: flex;
    flex-direction: column; /* Colonna per allineare nome e commento */
}

.review .box .user-info h3 {
    margin-bottom: 3.5rem;
    font-size: 18px;
}

.review .box .comment {
    flex: 1; /* Occupa lo spazio rimanente */
}

.review .box .comment p {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 2rem;
    color: #333;
}

.review .box .fas.fa-quote-right {
    font-size: 24px;
    color: #ccc;
    margin-left: auto; /* Spinge l'icona quote a destra */
}

.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    background-color: crimson; /* Blu brillante */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: rgb(0, 179, 0); /* Blu più scuro al passaggio del mouse */
}

/* Footer */

footer{
	margin-top: 50px;
	width: 100%;
	padding: 30px 0 0 20px;
	background: #eeeeee;
}

footer .footer_main{
	display: grid;
	grid-template-columns:1fr 1fr 1fr;
}

footer .footer_main .footer_img{
	display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer_main .footer_img img{
	max-width: 150px;
    height: auto;
}

footer .footer_main .footer_tag{
	text-align: center;
}

footer .footer_main .footer_tag h2{
	color: #000;
	margin-bottom: 25px;
	font-size: 30px;
}

footer .footer_main .footer_tag p{
	margin: 10px 0;	
}

footer .footer_main .footer_tag i{
	margin: 0 5px;
	cursor: pointer;
}

footer .footer_main .footer_tag i:hover{
	color: crimson;
}

footer .end{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 0;
}

footer .end span{
	color: rgb(226, 152, 29);
	margin-left: 5px;
}

::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-thumb{
	background: rgb(0, 179, 0);
	border-radius: 30px;
}


/* Media*/

@media (max-width: 768px) {
    nav {
        flex-direction: row;
        align-items: center;
        padding: 10px 20px;
    }

    nav .logo img {
        width: 100px;
        margin: 0;
        position: static;
    }
    
    nav .nav-link{
		display: none;
	}

   nav .nav-toggle {
        display: block;
        width: 100%;
        align-items: center; /* Centra il toggle nel container */
        padding-right: 2rem;
    }

    .nav-toggle details {
        position: relative;
    }

    .nav-toggle summary {
        cursor: pointer;
        color: #000;
        text-decoration: none;
        border: 2px solid rgb(0, 179, 0);
        border-radius: 20px;
        padding: 7px 20px;
        transition: 0.3s;
        display: inline-block;
    }

    .nav-toggle summary:hover,
    .nav-toggle details[open] summary:focus {
        background: rgb(0, 179, 0);
        color: #fff;
    }

    .nav-toggle details[open] ul {
        display: block;
    }

    .nav-toggle ul {
        display: none;
        position: absolute;
        top: calc(100% + 10px);
        right: 50%;
        transform: translateX(50%);
        background: white;
        border: 1px solid #ccc;
        padding: 10px;
        list-style: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }

    .nav-toggle ul li {
        margin-bottom: 5px;
    }

    .nav-toggle ul li a {
        text-decoration: none;
        color: black;
        padding: 5px 10px;
        display: block;
    }

    .nav-toggle ul li a:hover {
        background: rgb(0, 179, 0);
        color: white;
        border-radius: 5px;
    }
    
    nav .login,
    nav .login2 {
        width: 100%;
        text-align: center;
        margin: 10px 0;
        padding-left: 2rem;
    }

    nav .login2 ul {
        right: 0;
        left: 0;
        transform: none;
    }

    .banner_bg h1 {
        font-size: 30px;
    }

    .banner_bg .box {
        width: 80%;
    }

    .banner_bg .box input[type="text"] {
        width: calc(100% - 160px);
    }

    .banner_bg .box input[type="submit"] {
        width: 140px;
    }

    .recipe h1 {
        font-size: 35px;
    }

    .recipe .title span {
        font-size: 25px;
    }

    .recipe .recipe_description span {
        font-size: 16px;
    }

    .recipe .ingredients h2,
    .recipe .recipe_preparation h2 {
        font-size: 25px;
    }

    .recipe .ingredients ul li,
    .recipe .recipe_preparation span {
        font-size: 16px;
    }

    footer .footer_main {
        grid-template-columns: 1fr;
        text-align: center;
    }

    footer .footer_main .footer_img,
    footer .footer_main .footer_tag {
        margin: 20px 0;
    }

    footer .footer_main .footer_img img {
        max-width: 100px;
    }

    footer .footer_main .footer_tag h2 {
        font-size: 25px;
    }
}
